<%= form_for(@archiefe) do |f| %>
  <% if @archiefe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archiefe.errors.count, "error") %> prohibited this archiefe from being saved:</h2>

      <ul>
      <% @archiefe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
