<h1>Listing archieves</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @archieves.each do |archiefe| %>
  <tr>
    <td><%= link_to 'Show', archiefe %></td>
    <td><%= link_to 'Edit', edit_archiefe_path(archiefe) %></td>
    <td><%= link_to 'Destroy', archiefe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Archieve', new_archiefe_path %>
